<!DOCTYPE html>
<html lang="en">
<head>
   {{>headLinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="conatainer-fluid main_header">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" class="img-fluid" alt="about picture">
                        </figure>
                    </div>
                    
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h3>I am an aspiring  <span class="text_clr">Full Stack Developer</span> Learner</h3>
                        <a href="https://www.linkedin.com/in/hemanth-c-shettigar-852264244/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>